<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/site.css" rel="stylesheet" />
    <script src="/assets/js/jquery.min.js"></script>
</head>
<body>
    <div class="body-content">
        @RenderBody()
    </div>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/jquery.html-clean.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/assets/js/jquery.main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
