@using GenerateHtml.Models
@model HtmlComponentCategoryViewModel
@{
    Layout = null;
}
@using (Ajax.BeginForm("AddOrEdit", "Category", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "onSuccess",
    OnFailure = "onFailure",
    UpdateTargetId = "updateContent"
}, new { id = "addOrEditForm", enctype = "multipart/form-data" }))
{
    <div id="updateContent">
        @Html.Partial("~/Areas/Admin/Views/Category/_form.cshtml", Model)
    </div>
}
