
@{
    ViewBag.Title = "Index";
}
<div style="padding: 50px 0">
    <div class="container">
        <a class="btn btn-success" style="margin-bottom:10px;" onclick="PopupForm('@Url.Action("AddOrEdit","Administrator")')"><i class="fa fa-plus"></i> Add New</a>
        <table id="componentTable" class="table table-striped table-bordered" style="width:100%;">
            <thead>
            <tr>
                <th>Tên</th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts{
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#componentTable").DataTable({ 
                "ajax": {
                    "url": "/Administrator/GetData",
                    "type": "GET",
                    "datatype":"json"
                },
                "columns": [
                    { "data": "Name" },
                    {
                        "data": "EmployeeID",
                        "render": function (data) {
                            return "<a class='btn btn-default btn-sm' style='margin-right:5px;' onclick=PopupForm('@Url.Action("AddOrEdit", "Administrator")/" + data + "')><i class='fa fa-pencil'></i> Edit</a>" +
                             "<a class='btn btn-danger btn-sm' onclick=Delete(" + data + ")><i class='fa fa-trash'></i> Delete</a>"
                        },
                        "orderable": false,
                        "width":"135px"
                    }
                ],
                "order": [[0,"desc"]],
                "language": {
                    "emptyTable": "No data found, Please clock on <b>Add New</b> Button",
                    "lengthMenu": "Hiển thị _MENU_ item"
                }
            });
        });

        function PopupForm(url) { 
            var formDiv = $('<div class="addofeditpop"></div>');
            $.get(url)
                .done(function(response) {
                    formDiv.html(response);
                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizeable: false,
                        title: 'Nhập thành phần html',
                        height: 900,
                        width: 900,
                        close: function() {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action, 
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            });
                        }
                    }
                });
            }
            return false;
        }
        function Delete(id) {
            if (confirm('Are you Sure to Delete this Employee Record?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Administrator")/' + id,
                    success: function(data) {
                        if (data.success) {
                            dataTable.ajax.reload();
                            $.notify(data.message,
                                {
                                    globalPosition: "top center",
                                    className: "success"
                                });
                        }
                    }
                });
            }
        }
    </script>
}