.wrapper-bill {
	width: 800px;
	margin: 0 auto;
	font-size: 13px;
	background: #fff;
}
.bill-header {
	padding-bottom: 5px;
}
.bill-header img {
	margin-bottom: 5px;
	max-width: 100%;
}
.bill-header h3 {
	font-size: 13px;
	font-weight: bold;
	margin: 0;
}
.bill-header p {
	margin-bottom: 0;
}
.bill-header h1 {
	font-size: 32px;
	font-weight: bold;
	margin: 40px 0 10px;
	font-family: "Time and new roman";
}
.bill-table thead,.bill-table tbody th {
	text-align: center;
}
.bill-table input[type="text"]{
	width: 100%;
	border: 0;
	outline: none;
}
.input-type-1, .input-type-2{
	position: relative;
}
.input-type-1 span,
.input-type-2 span {
	position: absolute;
	top:0;
	left:0;
	background: #fff;
	z-index: 3;
	padding: 7px 0 3px;
}
.input-type-1 textarea {
	width: 100%;
	height: 60px;
	border:0;
	outline: none;
	background: url("dot.png") left bottom;
	padding-top: 2px;
	line-height: 28px;
	resize: none;
}
.input-type-2 input[type="text"] {
	border:0;
	outline: none;
	width: 70px;
	background: url("dot.png") left bottom;
	height: 30px;
	padding-top: 5px;
}
.bill-header-date > p {
	display: inline-block;
	vertical-align: top;
}
@media print {
	body {
		-webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
		color-adjust: exact !important;                 /*Firefox*/
	}
}