@{
    ViewBag.Title = "Home Page";
}
<div class="wrapper">
    <div class="wrap-components">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Website Name" name="WebsiteName" value="" />
        </div>
    </div>
    @*<div class="wrap-view-code">
        <div class="item">
            <p>Head:</p>
            <pre>
                <code>
                    <meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="https://yandex.st/highlightjs/8.0/styles/vs.min.css">
                </code>
            </pre>
        </div>
        <div class="item">
            <p>Body:</p>
            <pre>
                <code>
                    
                </code>
            </pre>
        </div>
    </div>*@
</div>